<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7cd557f3efe1844a064de6b254d8171eaed69f88
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GoogleSans-Regular;
  src: url(../public/fonts/GoogleSans-Regular.otf);
}

* {
  font-family: GoogleSans-Regular !important;
}

.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1280px;
<<<<<<< HEAD
}
=======
>>>>>>> develop_Detail
=======
}
>>>>>>> 7cd557f3efe1844a064de6b254d8171eaed69f88
